<!DOCTYPE html>
<html>
  <head>
    <title>BodyCooking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/49f5a30455.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
          <% if admin_admin_signed_in? %>  
            <%=link_to'Body Cooking',"#"%>  
          <% else %> 
            <%=link_to'Body Cooking',"#"%>
          <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
